{{> post-info post}}

{{#if loggedIn}}
<form class="comment-state">
  <div>
    <textarea name="comment-main"></textarea>
  </div>

  <div>
    <button type="submit">Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}